header{
    height: 110px;
}
footer{
    height: 218px;
    padding-top: 100px;
    background: #3b3b3b;
}
.public-container{
    position: relative;
    margin: 0 auto;
    width: 1100px;
}
.public-container .header-logo{
    margin-top:40px;
    float: left;
}

.public-container .header-logo a{
    background: url("../images/index-header-logo.png") no-repeat;
    width: 182px;
    height: 54px;
}
.public-container .header-nav a:hover{
    text-decoration: underline;
}
.public-container .header-nav{
    float: right;

}
.public-container .header-nav .item{
    float: left;
    margin-top:46px;
    margin-left: 49px;
}

.public-container .header-nav a{
    color: #3b3b3b;
    font-size: 14px;
    line-height: 18px;

}

footer .footer-col{
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: 30px;
    width: 230px;
    margin-right: 60px;
}
footer .footer-col:last-child{
    margin-right: 0px;
}
footer .footer-logo{
    width: 182px;
    height: 55px;
    background: url("../images/index-footer-logo.png") no-repeat;
    margin-top:-15px;
}
.index-banner{
    position:relative;
    width: 100%;
    background: #b3b3b3;
}
 .index-banner-bg{
    width: 1500px;
    height: 570px;
    margin: 0 auto;
}

.index-banner img{
    background: url("../images/banner.jpg");
}
.index-banner-text{
    position: absolute;
    top:210px;
    left:50%;
    margin-left: -388px;
}
.index-banner-text .text-logo{
    width: 776px;
    height: 117px;
    background: url("../images/text-logo.png");

}

.index-banner-text .banner-info{
    margin-top:20px;
    text-align: center;
}
.index-banner-text .banner-info .txt{
    margin:0 26px;
}
.index-banner-text .banner-info .line{
    display: inline-block;
    width: 40px;
    border-top:1px solid #fff;
    vertical-align: middle;
}
.index-menu{
    position: relative;
    border-top: 4px solid #F34949;


}
.index-menu .menu-tips{
    font-size: 16px;
    position: absolute;
    left: 50%;
    width: 156px;
    height: 75px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    margin-left: -51px;
    background:#F34949 ;

}
.index-menu .menu-tips:after{
    position: absolute;
    content: "";
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    border-bottom: 10px solid #fff;
}

.index-menu .menu-list{
    margin-top:150px;
    color:#555;
    overflow: hidden;

}
.index-menu .menu-list ul{
    width: 1160px;
}
.index-menu .menu-item{
    float: left;
    width: 520px;
    margin-left: 60px;
    margin-bottom: 56px;
}
.index-menu h4,.index-menu p{
    color:#3b3b3b;
}