.container{
    width:1000px;
    margin: 0 auto;
}

.collection a{
    display: block;
    height: 30px;
    line-height: 30px;
}
.topHeader .collection{
    float: left;
    background: url("../images/collection.png") no-repeat center left;
    padding-left: 17px;
}
.topHeader .loginArea{
    float: right;
    padding-right: 21px;
}
.loginArea a{
    line-height: 30px;
}
.bottomHeader{
    background: #1d7ad9;
    height: 85px;
}

.bottomHeader .logo{
    margin-top:13px;
    float: left;
}
.bottomHeader .search{
    float: left;
    vertical-align: middle;
    margin-top: 23px;
}
.bottomHeader .search input[type="text" ]{
    width:360px;
    height: 35px;
    margin-left: 185px;
    vertical-align:middle;  /* 解决 input与button 对齐*/
}
.bottomHeader .search input[type="button" ]{
    width:69px;
    height: 35px;
    background: #ff8c00;
    vertical-align:middle;
}

.bottomHeader .cart{
    float: right;
    margin-top: 23px;
    width: 145px;
    height: 35px;
    background: #ff8c00 url("../images/cart.png") no-repeat 10px 8px;
}
.bottomHeader .cart span{
    line-height: 35px;
    margin-left: 40px;
}
.nav{
    background: #1369c0;
}
.nav .allGoods h3 {
    font: 15px  arial;
    height: 35px;
    margin-left:39px;
    line-height:35px;
    float: left;
    vertical-align: top; /*  解决父类div.allGoods 高度多出几像素*/
}
.nav .allGoods{
    width: 189px;
}

.nav .allGoods i{
    background: url("../images/arrow.png") no-repeat left center;
    display: inline-block;
    height: 35px;
    width: 11px;
    margin-left: 11px;
    vertical-align: top; /*  解决父类div.allGoods 高度多出几像素*/
}
.nav .navbar ul,.nav .allGoods{
    float: left;
}
.nav .navbar li{
    font: 14px  arial;
    height: 35px;
    float: left;
    line-height:35px;
    width: 100px;
    text-align: center;
}
.nav .navbar a{
    color: white;
}
.nav .navbar .active{
    background: #4593fd;
}